<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>## Performance testing of GraphQL ##&#xd;
&#xd;
&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.31.0">
      <projectUrl>https://github.com/NETESOLUTIONS/ERNIE/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/NETESOLUTIONS/ERNIE</url>
        <credentialsId>d02dfdd6-1f23-416e-a398-d26accdf9129</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.SparseCheckoutPaths>
        <sparseCheckoutPaths>
          <hudson.plugins.git.extensions.impl.SparseCheckoutPath>
            <path>/Interfaces</path>
          </hudson.plugins.git.extensions.impl.SparseCheckoutPath>
        </sparseCheckoutPaths>
      </hudson.plugins.git.extensions.impl.SparseCheckoutPaths>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Deploy
cd Interfaces/GraphQL/tests

# Execute
jmeter --nongui --testfile all_tests.jmx --forceDeleteResultFile --jmeterlogfile ../../../build/jmeter.log</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.performance.PerformancePublisher plugin="performance@3.18">
      <errorFailedThreshold>-1</errorFailedThreshold>
      <errorUnstableThreshold>-1</errorUnstableThreshold>
      <errorUnstableResponseTimeThreshold></errorUnstableResponseTimeThreshold>
      <relativeFailedThresholdPositive>-1.0</relativeFailedThresholdPositive>
      <relativeFailedThresholdNegative>-1.0</relativeFailedThresholdNegative>
      <relativeUnstableThresholdPositive>-1.0</relativeUnstableThresholdPositive>
      <relativeUnstableThresholdNegative>-1.0</relativeUnstableThresholdNegative>
      <nthBuildNumber>0</nthBuildNumber>
      <configType>ART</configType>
      <graphType>ART</graphType>
      <modeOfThreshold>false</modeOfThreshold>
      <failBuildIfNoResultFile>true</failBuildIfNoResultFile>
      <compareBuildPrevious>false</compareBuildPrevious>
      <optionType>ART</optionType>
      <modePerformancePerTestCase>true</modePerformancePerTestCase>
      <excludeResponseTime>true</excludeResponseTime>
      <modeThroughput>false</modeThroughput>
      <modeEvaluation>false</modeEvaluation>
      <constraints class="empty-list"/>
      <ignoreFailedBuilds>true</ignoreFailedBuilds>
      <ignoreUnstableBuilds>false</ignoreUnstableBuilds>
      <persistConstraintLog>false</persistConstraintLog>
      <sourceDataFiles>build/perf-test-results/*</sourceDataFiles>
      <filterRegex></filterRegex>
      <junitOutput></junitOutput>
      <percentiles>0,50,90,100</percentiles>
      <baselineBuild>0</baselineBuild>
    </hudson.plugins.performance.PerformancePublisher>
  </publishers>
  <buildWrappers>
    <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
      <varPasswordPairs/>
      <varMaskRegexes/>
    </com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.11.5"/>
  </buildWrappers>
</project>