## Generic patterns ##

### Files, specifically designated as private by convention ###
private*
[Ii]gnore

### Build output ###
build
report

### Application logs ###
logs
*.log

### Temporary Subversion files ###
*.mine

### Backup files ###
*.bak
~$*

### Windows system files ###

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

### macOS system files ###

*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Companion files
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Other VCS ##

# SVN
.svn

## JetBrains IDEs: IntelliJ IDEA, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm ##
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
# dataSources.local.xml does not store passwords, but it does store Known Schemas
#.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

# File-based project format:
*.iws

### Plugin-specific files ###

# IntelliJ IDEA
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
P2_studies/theta_plus/.ipynb_checkpoints/compute_mcl_jsd-checkpoint.py
P2_studies/theta_plus/.ipynb_checkpoints/Cluster_JSD_Computation-checkpoint.ipynb
P2_studies/theta_plus/.ipynb_checkpoints/MCL Text Analysis-checkpoint.ipynb
P2_studies/theta_plus/.ipynb_checkpoints/JSD_coherence-checkpoint.ipynb
P2_studies/theta_plus/.ipynb_checkpoints/conductance-checkpoint.ipynb
P2_studies/theta_plus/.ipynb_checkpoints/jsd_random-checkpoint.py
P2_studies/theta_plus/.ipynb_checkpoints/conductance-checkpoint.py
P2_studies/theta_plus/.ipynb_checkpoints/jsd_compute-checkpoint.py
P2_studies/theta_plus/.ipynb_checkpoints/jsd_modules-checkpoint.py
P2_studies/theta_plus/.ipynb_checkpoints/jsd_coherence-checkpoint.py
P2_studies/theta_plus/.ipynb_checkpoints/jsd_conductance-checkpoint.py
*.pyc
P2_studies/theta_plus/.ipynb_checkpoints/compute_article_score-checkpoint.py
P2_studies/theta_plus/.ipynb_checkpoints/compute_conductance-checkpoint.py
P2_studies/theta_plus/.ipynb_checkpoints/final_output-checkpoint.py
P2_studies/theta_plus/.ipynb_checkpoints/text_preprocess-checkpoint.py
P2_studies/theta_plus/.ipynb_checkpoints/ad_hoc-checkpoint.py
P2_studies/theta_plus/.ipynb_checkpoints/merge_all_output-checkpoint.py
P2_studies/theta_plus/.ipynb_checkpoints/imm89-checkpoint.sql
P2_studies/comp_case_study/.ipynb_checkpoints/graclus_input_data_tp-checkpoint.sql
P2_studies/comp_case_study/.ipynb_checkpoints/graclus_input_data-checkpoint.sql
